<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>PlanIt</title>
            <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">
            <link href="https://gist.githubusercontent.com/hellt/bc4fc51d6f1b9584605517f5c8d6a5a0/raw/1541916ad019f8b5349d7353489b6fd2d36513dd/jumbotron-narrow.css" rel="stylesheet">
            <link rel="stylesheet" href="/static/root.css">
            <link rel="stylesheet" href="/static/dashboard.css">

        </head>

        <body>
            <!-- Top Navbar -->
            <nav class="navbar">
                <a class="navbar-brand text-primary" href="/dashboard">Home</a>
                <a class="navbar-brand text-primary my-2 my-lg-0" href="/signOut">Sign Out</a>
            </nav> 
            <div class="container">

                <div class="jumbotron">
                    <h1>Event Dashboard</h1>

                    <ul>
                        {% for eventID in eventIDs %}
                        <div class = "delete_button">
                            <li> 
                                <a href = "/eventDetails" id=eventID> {{eventID}} </a>
                                <button id="btnDelete" class="btn btn-sm btn-danger" type="button" onclick=deleteEvent({{eventID}})> Delete</button>
                            </li>
                            
                        </div>
                        {% endfor %}
                    </ul>

                    <button id="btnAddEvent" class="btn btn-lg btn-primary btn-block" type="button">Add Event</button>

                </div>

                <footer class="footer">
                    <p><img src='/static/small_hat.png'/> DataWizards 2017 </p>
                </footer>

            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="/static/dashboard.js"></script>

        </body>
    </html>
