<!DOCTYPE html>
<html lang="en">
<head>
    <title>PlanIt</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://gist.githubusercontent.com/hellt/bc4fc51d6f1b9584605517f5c8d6a5a0/raw/1541916ad019f8b5349d7353489b6fd2d36513dd/jumbotron-narrow.css"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/root.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a new person</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="newPersonName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newPersonName" placeholder="First Last">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newPersonEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="newPersonEmail" placeholder="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newPersonPhone" class="col-sm-2 col-form-label">Phone (Not required)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newPersonPhone" placeholder="000-000-0000">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnSendNewPerson" data-dismiss="modal">Add</button>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/dashboard">Home</a></li>
                <li role="presentation"><a href="#">Sign In</a></li>
                <li role="presentation" class="active"><a href="#">Sign Up</a></li>
            </ul>
        </nav>
    </div>

    <div class="jumbotron">

        <h3>Selected Names:</h3>
        <div class="container" id="selection">
            <table class="table table-hover" id="selectionTable">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <button id="btnConfirmGroup" class="btn btn-lg btn-primary btn-block" type="button">Confirm Group Members
        </button>


        <h1>Add to Group</h1>
        <form class="form-signin">
            <label for="inputName" class="sr-only">Name</label>
            <input type="name" name="queryName" id="queryName" class="form-control" placeholder="Name" required
                   autofocus>
            <button id="btnPeopleSearch" class="btn btn-lg btn-primary btn-block" type="button">Search</button>
            <button type="btnOpenModal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New
                Person
            </button>

        </form>

        <div class="container" id="search-results">
            <table id="results" class="table display table-striped table-hover clickable-row">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>


    <footer class="footer">
        <p><img src='/static/small_hat.png'/> DataWizards 2017 </p>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/people.js"></script>


</body>
</html>
