    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>PlanIt</title>
            <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://gist.githubusercontent.com/hellt/bc4fc51d6f1b9584605517f5c8d6a5a0/raw/1541916ad019f8b5349d7353489b6fd2d36513dd/jumbotron-narrow.css" rel="stylesheet">
            <link rel="stylesheet" href="/static/root.css">
        </head>

        <body>

            <div class="container">
                <div class="header">
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation" ><a href="main">Home</a></li>

                            <li role="presentation"><a href="#">Sign In</a></li>
                            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
                        </ul>
                    </nav>
                    <h3 class="text-muted">A DataWizards Product</h3>
                </div>

                <div class="jumbotron">
                    <h1>PlanIt Travel App</h1>
                    <form class="form-signin">
                        <label for="inputName" class="sr-only">Name</label>
                        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
                        <label for="inputNum" class="sr-only">Phone Number</label>
                        <input type="num" name="inputNum" id="inputNum" class="form-control" placeholder="Phone Number" required autofocus>
                        <!--<label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>-->

                        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
                        <button id="btnReset" class="btn btn-lg btn-primary btn-block" type="button">Reset Database</button>
                        <button id="btnGen" class="btn btn-lg btn-primary btn-block" type="button">Generate New Data</button>
                    </form>
                </div>



                <footer class="footer">
                    <p><img src='/static/small_hat.png'/> DataWizards 2017 </p>
                </footer>

            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="/static/root.js"></script>

        </body>
    </html>
