    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>PlanIt</title>
            <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">
            <link href="https://gist.githubusercontent.com/hellt/bc4fc51d6f1b9584605517f5c8d6a5a0/raw/1541916ad019f8b5349d7353489b6fd2d36513dd/jumbotron-narrow.css" rel="stylesheet">
            <link rel="stylesheet" href="/static/root.css">
        </head>

        <body>

            <div class=bg_img> 

                <!-- Top Navbar -->
                <nav class="navbar">
                    <a class="navbar-brand text-primary" href="/">Home</a>
                    <a class="navbar-brand text-primary my-2 my-lg-0" href="/signUp">Sign Up</a>
                </nav> 

                <!-- Sign in Form --> 
                <div class=welcome>
                    <h1 class="title text-primary">Welcome to PlanIt</h1>
                    <form class="form-signin" id=signInForm method="POST">
                        <input type="email" id="inputEmail" name=inputEmail class="form-control" placeholder="Email" required>
                        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
                        <button id="btnSignIn" class="btn btn-primary btn-lg btn-block" color=primary type="submit" value=Submit>Sign In</button>
                    </form>
                    <a href="#" class="forgot-password text-primary" color=white>Forgot your password?</a>
                </div>
            </div>
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="/static/root.js"></script>

        </body>

    </html>
