    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>PlanIt</title>
            <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">
            <link href="https://gist.githubusercontent.com/hellt/bc4fc51d6f1b9584605517f5c8d6a5a0/raw/1541916ad019f8b5349d7353489b6fd2d36513dd/jumbotron-narrow.css" rel="stylesheet">
            <link rel="stylesheet" href="/static/signup.css">
        </head>

        <body>
            <div class=bg_img> 

                <!-- Navbar -->
                <nav class="navbar">
                    <a class="navbar-brand text-primary" href="/">Home</a>
                </nav> 

                <!-- Sign in Form --> 
                <div class=welcome>
                    <h1 class="title text-primary">Welcome to PlanIt</h1>
                    <form class="form" id=signUpForm method="POST">
                        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required>
                        <input type="phone" name="inputNum" id="inputNum" class="form-control" placeholder="Phone Number" required>
                        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email" required>
                        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
                        <button id="btnSignUp" class="btn btn-primary btn-lg btn-block" color=primary type="submit" value=Submit>Sign Up</button>
                    </form>
                </div>
                
            </div>
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="/static/signup.js"></script>
        </body>

    </html>
