.jumbotron {
    padding: 0px; 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0.35rem; 
}

#tabs {
    border-top-left-radius: 0.55rem;
    border-top-right-radius: 0.55rem;
    margin-top: 5px;
}

#jumbotronContent {
    padding: 15px; 
    padding-top: 20px; 
}

.nav-tabs .nav-link {
    border-top-left-radius: 0.55rem;
    border-top-right-radius: 0.55rem;
    color: #2C3E50;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #2C3E50;
    cursor: default;
    background-color: #eee;
    border: 1px solid #eee;
    border-bottom-color: transparent;
}

#radioLabel {
    padding-left: 2rem; 
}

#location {
    margin: 2.5px; 
}

#radioFieldset {
    margin-bottom: 3px;
}

#textinputNewLocation {
    padding-left: 0px; 
    margin-bottom: 20px; 
}

#btnClosePoll {
    margin-left: 8px; 
}

#btnAddNewLocation { 
    padding-bottom: 7px; 
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.members-count,
.members-list,
.messages {
    border: 1px solid #e4e4e4;
    padding: 15px;
    margin-bottom: 15px;
    /*background-color: #ddd;*/
    border: 1px solid #000000;
}

.messages {
    flex-shrink: 1;
    overflow: auto;
    background-color: #ddd;
}

.message {
    padding: 5px 0;
    background-color: #ddd;
}

.message .member {
    display: inline-block;
    background-color: #ddd;
}

.member {
    padding-right: 10px;
    position: relative;
    background-color: #ddd;
}

.message-form {
    display: flex;
    flex-shrink: 0;
    background-color: #ddd;
}

.message-form__input {
    flex-grow: 1;
    border: 1px solid #000000;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #ddd;
}

.message-form__button {
    margin: 10px;
    background-color: #ddd;
}

.chatButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

.jumbotron {
    position: relative;
}

.chatbox {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
    background-color: #ddd;
}
}
