<!DOCTYPE html>
<html lang="en">
<head>
    <title>PlanIt</title>
    <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="https://gist.githubusercontent.com/hellt/bc4fc51d6f1b9584605517f5c8d6a5a0/raw/1541916ad019f8b5349d7353489b6fd2d36513dd/jumbotron-narrow.css"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/root.css">
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>

<body>
<!-- Top Navbar -->
<nav class="navbar">
    <a class="navbar-brand text-primary" href="/dashboard">Home</a>
    <a class="navbar-brand text-primary my-2 my-lg-0" href="/signOut">Sign Out</a>
</nav>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/dashboard.js"></script>

</body>
</html>
