<!DOCTYPE html>
<html lang="en">
<head>
    <title>PlanIt</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://gist.githubusercontent.com/hellt/bc4fc51d6f1b9584605517f5c8d6a5a0/raw/1541916ad019f8b5349d7353489b6fd2d36513dd/jumbotron-narrow.css" rel="stylesheet">      
    <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <link rel="stylesheet" href="/static/root.css">        
    <link rel="stylesheet" href="/static/background.css">
    <link rel="stylesheet" href="/static/consistent.css">
    <link rel="stylesheet" href="/static/eventDetails.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet">     
</head>

<body>

    <!-- Top Navbar -->
    <nav class="navbar"> 
        <a class="navbar-brand text-primary" id=navbarHome href="/dashboard">Home</a>
        <a class="navbar-brand text-primary my-2 my-lg-0" href="/signOut">Sign Out</a>
    </nav>

    <div class="w3-container">

        <!-- Tabs --> 
        <ul class="nav nav-tabs w-100" id="tabs">
            <li class="nav-item">
                <a class="nav-link leftTab" data-toggle="tab" href="#locations">Destination</a>
            </li>
            <li class="nav-item">
                <a class="nav-link middleTab" data-toggle="tab" href="#time">Time</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rightTab" data-toggle="tab" href="#lodging">Lodging</a>
            </li>
        </ul>

        <div class="jumbotron">
            <div id=jumbotronContent> 

                <fieldset class="form-group">
                    <legend>Choose a location for your adventure</legend>
                    {% for location in locations %}
                    {% for l in location %}

                    <div class="form-check">

                        <label class="form-check-label">
                            <input type="radio" id="location" class="form-check-input" name="optionsRadios"
                            value="{{ l }}" checked="">
                            {{ l }}
                        </label>

                    </div>
                    {% endfor %}
                    {% endfor %}
                </fieldset>



                <div class="col-lg-6" id="textinputNewLocation">
                    <div class="input-group">
                        <input type="text" class="form-control" id="newLocation" placeholder="Or add a new location"
                        list="suggestionList">
                        <datalist id="suggestionList">
                        </datalist>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btnAddNewLocation">Add!</button>
                        </span>

                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->

                <div>
                    <button type="button" class="btn btn-success" id="btnSubmitLocationVote">Submit your Vote</button>
                </div>
            </div>
        </div>
    </div>
</div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
<script src="/static/root.js"></script>
<script src="/static/eventDetails.js"></script>

</body>
</html>
