<!DOCTYPE html>
<html lang="en">
<head>
    <title>PlanIt</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://gist.githubusercontent.com/hellt/bc4fc51d6f1b9584605517f5c8d6a5a0/raw/1541916ad019f8b5349d7353489b6fd2d36513dd/jumbotron-narrow.css" rel="stylesheet">      
    <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <link rel="stylesheet" href="/static/root.css">        
    <link rel="stylesheet" href="/static/background.css">
    <link rel="stylesheet" href="/static/consistent.css">
    <link rel="stylesheet" href="/static/eventDetails.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet">     
</head>

<body>

    <!-- Top Navbar -->
    <nav class="navbar"> 
        <a class="navbar-brand text-primary" id=navbarHome href="/dashboard">Home</a>
        <a class="navbar-brand text-primary my-2 my-lg-0" href="/signOut">Sign Out</a>
    </nav>

    <div class="w3-container">

        <!-- Tabs --> 
        <ul class="nav nav-tabs w-100" role=tablist id="tabs">
            <li class="nav-item">
                <a class="nav-link" id=defaultTab data-toggle="tab" href="#locations" role=tab>Destination</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id=tab data-toggle="tab" href="#time" role=tab>Time</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id=tab data-toggle="tab" href="#lodging" role=tab>Lodging</a>
            </li>
        </ul>

        <div class="jumbotron">
            <div id=jumbotronContent> 

                <!-- Tab panes -->
                <div class="tab-content">

                    <!-- Locations tab content --> 
                    <div class="tab-pane active" id="locations" role="tabpanel">
                        <fieldset class="form-group" id=radioFieldset>
                            <legend>Choose a location for your adventure</legend>
                            {% for location in locations %}
                            {% for l in location %}

                            <div class="form-check">
                                <input type="radio" id="location" class="form-check-input" name="optionsRadios" value="{{ l }}" checked="">
                                <label class="form-check-label" id=radioLabel>{{ l }}</label>
                            </div>
                            {% endfor %}
                            {% endfor %}
                        </fieldset>

                        <div class="col-6" id="textinputNewLocation">
                            <div class="input-group">
                                <input type="text" class="form-control" id="newLocation" placeholder="Or add a new location"
                                list="suggestionList">
                                <datalist id="suggestionList">
                                </datalist>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="btnAddNewLocation">Add!</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->

                        <div>
                            <button type="button" class="btn btn-primary" id="btnSubmitLocationVote">Submit your Vote</button>
                            <button type="button" class="btn btn-danger" id="btnClosePoll" value="{{ adminBool }}" onclick="submitLocation()">Close this Poll</button>                            
                        </div>

                        <div>
                        </div>
                    </div>

                    <!-- Time tab content --> 
                    <div class="tab-pane" id="time" role="tabpanel">Time</div>

                    <!-- Lodging tab content --> 
                    <div class="tab-pane" id="lodging" role="tabpanel">Lodging Info</div>
                </div>

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
<script src="http://getbootstrap.com/2.0.4/assets/js/bootstrap-tab.js"></script>
<script src="/static/root.js"></script>
<script src="/static/eventDetails.js"></script>

</body>
</html>
